:root {
  --font-family: 'Hanken Grotesk', sans-serif;

  /* Colors */
  --white: #fff;
  --light-blue: hsl(241, 100%, 89%);
  --gradient-circle: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  --gradient-bg: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-family);
  font-weight: 500;
}

.result-box {
  background-image: var(--gradient-bg);
  padding: 4.8rem;
  padding-top: 2.4rem;
  text-align: center;
  border-bottom-left-radius: 3.2rem;
  border-bottom-right-radius: 3.2rem;
}

.result-box-title {
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
}

.score-circle {
  height: 14rem;
  width: 14rem;
  border-radius: 50%;
  background-image: var(--gradient-circle);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2.4rem;
}

.score {
  color: var(--white);
  font-size: 5.6rem;
}
.result-text {
  font-size: 2.4rem;
}

/**************************************/
/* Utils classes */

/* Font weight */
.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

/* Text colors */
.text-white {
  color: var(--white);
}

.text-lightblue {
  color: var(--light-blue);
}
